# [dbo].[toDoTable]

In [ ]:
USE [toDoDB]
GO

In [ ]:
/****** Object:  Table [dbo].[toDoTable]    Script Date: 3/14/2023 11:42:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[toDoTable](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[task] [varchar](100) NULL,
	[status] [varchar](10) NULL,
	[time] [int] NULL
) ON [PRIMARY]
GO